.container{
    height: 100vh;
    position: relative;
    background-color: aqua;
    padding-top: 250px;
}
span{
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: black;
    text-align: center;
}
.xxl{
    display: none;
}
@media (max-width: 1400px){
    .container{
        background-color: green;
    }
    .xxl{
        display: block;
    }
}
@media (max-width: 1200px){
    .container{
        background-color: red;
    }
}
@media (max-width: 992px){
    .container{
        background-color: blue;
    }
}
@media (max-width: 768px){
    .container{
        background-color: pink;
    }
}
@media (max-width: 576px){
    .container{
        background-color:grey;
    }
}
@media (max-width: 400px){
    .container{
        background-color: yellow;
    }
}